<!-- <div class="container"> -->
<div class="faq-block container">
    <h2 class="faq-block-title">Часті питання</h2>
    <ul class="faq-block-list">
        <li class="faq-block-item">
            <h3 class="faq-block-question">Як здійснюється доставка меблів?</h3>
            <p class="faq-block-answer hidden">Ми доставляємо замовлення по всій Україні через надійні служби.
                Термін
                доставки зазвичай складає 3–7 днів залежно від
                регіону.</p>
        </li>
        <li class="faq-block-item">
            <h3 class="faq-block-question">Чи є можливість вибрати колір або матеріал?</h3>
            <p class="faq-block-answer hidden">Так, у багатьох моделях доступні варіанти оббивки та кольорів. Усі
                доступні
                опції вказані на сторінці товару.</p>
        </li>
        <li class="faq-block-item">
            <h3 class="faq-block-question">Чи можна повернути товар, якщо він не підійшов?</h3>
            <p class="faq-block-answer hidden">Так, ви можете повернути товар протягом 14 днів, якщо він не був у
                користуванні та збережений у первинному вигляді.</p>
        </li>
        <li class="faq-block-item">
            <h3 class="faq-block-question">Чи надаєте ви послугу збирання меблів?</h3>
            <p class="faq-block-answer hidden">Так, під час оформлення замовлення можна обрати послугу збирання.
                Наші
                майстри зберуть меблі у зручний для вас час.</p>
        </li>
        <li class="faq-block-item">
            <h3 class="faq-block-question">Як здійснити оплату?</h3>
            <p class="faq-block-answer hidden">Ми приймаємо оплату карткою онлайн, банківським переказом або
                післяплатою
                при отриманні.</p>
        </li>
    </ul>
</div>
<!-- </div> -->