<section
  class="feedback section"
  id="mebleria-feedback"
  role="region"
  aria-labelledby="feedback-title"
>
  <div class="container">
    <h2 id="feedback-title" class="feedback-title">Відгуки Клієнтів</h2>
    <p class="feedback-subtitle">
      Дізнайтеся, що кажуть наші задоволені клієнти про наші меблі
    </p>

    <div class="feedback-loader is-hidden" id="feedback-loader">
      <div class="loader"></div>
    </div>

    <div class="feedback-slider swiper">
      <div class="swiper-wrapper" id="feedback-list"></div>

      <div class="feedback-controls">
        <div class="feedback-pagination swiper-pagination"></div>

        <div class="feedback-navigation feedback-nav">
          <button
            type="button"
            class="feedback-btn-prev button-main button-main.btn--grey"
            aria-label="Попередній відгук"
          >
            <svg width="14" height="14">
              <use href="./img/icons.svg#arrow-left"></use>
            </svg>
          </button>

          <button
            type="button"
            class="feedback-btn-next button-main button-main.btn--grey"
            aria-label="Наступний відгук"
          >
            <svg width="14" height="14">
              <use href="./img/icons.svg#arrow-right"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
