<footer class="footer">
    <div class="footer-container container">
        <a href="/src/index.html">
            <svg class="logo" width="220" height="48">
                <use href="/img/icons.svg#mebleria-logo"></use>
            </svg>
        </a>
        <p class="text desktop">&copy; 2025 Меблерія. Всі права захищені.</p>
        <nav class="footer-nav">
            <ul class="nav list">
                <li class="item">
                    <a class="link" href="">Наші меблі</a>
                </li>
                <li class="item">
                    <a class="link" href="">Про нас</a>
                </li>
                <li class="item">
                    <a class="link" href="">Часті питання</a>
                </li>
                <li class="item">
                    <a class="link" href="">Відгуки</a>
                </li>
            </ul>
        </nav>
        <div class="soc-media">
            <ul class="soc list">
                <li class="soc-item">
                    <a href="https://www.youtube.com" class="link">
                        <svg class="soc-icon">
                            <use href="/img/icons.svg#youtube"></use>
                        </svg>
                    </a>
                </li>
                <li class="soc-item">
                    <a href="https://www.instagram.com" class="link">
                        <svg class="soc-icon">
                            <use href="/img/icons.svg#instagram"></use>
                        </svg>
                    </a>
                </li>
                <li class="soc-item">
                    <a href="https://www.facebook.com" class="link">
                        <svg class="soc-icon" width="220" height="48">
                            <use href="/img/icons.svg#facebook"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
        <p class="text mobile-tab">&copy; 2025 Меблерія. Всі права захищені.</p>
    </div>
</footer>