<section class="furniture">
  <div class="container">
    <div class="categories-container"></div>
    <div class="furniture-container">
      <ul class="furniture-list">
        <li class="furniture-loader"></li>
        <li class="furniture-loader"></li>
        <li class="furniture-loader"></li>
        <li class="furniture-loader"></li>
        <li class="furniture-loader"></li>
        <li class="furniture-loader"></li>
        <li class="furniture-loader"></li>
        <li class="furniture-loader"></li>
      </ul>
      <button type="button" class="show-more-btn button-main btn--red">
        Показати ще
      </button>
      <div id="pagination" class="pagination"></div>
    </div>
  </div>
</section>
