<section class="furniture">
  <div class="container">
    <div class="categories-container">
      <div class="title-cntr">
        <h2 class="categories-title">Наші меблі</h2>
        <p class="categories-subtitle">
          Знайдіть ідеальні рішення для вашого інтер'єру
        </p>
      </div>
      <ul class="categories">
        <li class="category-item active">
          <div class="category-wrapper">
            <picture>
              <source
                srcset="
                  /img/furniture/furniture-categories/all-products.webp    1x,
                  /img/furniture/furniture-categories/all-products@2x.webp 2x
                "
              />
              <img
                src="/img/furniture/furniture-categories/all-products.webp"
                alt="category-item"
                class="category-img active"
              />
            </picture>
            <div class="frame"></div>

            <p class="category-name">Всі товари</p>
          </div>
        </li>

        <li class="category-item">
          <div class="category-wrapper">
            <picture>
              <source
                srcset="
                  /img/furniture/furniture-categories/upholstered-furniture.webp    1x,
                  /img/furniture/furniture-categories/upholstered-furniture@2x.webp 2x
                "
              />
              <img
                src="/img/furniture/furniture-categories/upholstered-furniture.webp"
                alt="upholstered-furniture"
                class="category-img"
              />
            </picture>
            <p class="category-name">М'які меблі</p>
          </div>
        </li>

        <li class="category-item">
          <div class="category-wrapper">
            <picture>
              <source
                srcset="
                  /img/furniture/furniture-categories/cabinets-storage-systems.webp    1x,
                  /img/furniture/furniture-categories/cabinets-storage-systems@2x.webp 2x
                "
              />
              <img
                src="/img/furniture/furniture-categories/cabinets-storage-systems.webp"
                alt="cabinets-storage-systems"
                class="category-img"
              />
            </picture>
            <p class="category-name">Шафи та системи зберігання</p>
          </div>
        </li>

        <li class="category-item">
          <div class="category-wrapper">
            <picture>
              <source
                srcset="
                  /img/furniture/furniture-categories/beds-mattresses.webp    1x,
                  /img/furniture/furniture-categories/beds-mattresses@2x.webp 2x
                "
              />
              <img
                src="/img/furniture/furniture-categories/beds-mattresses.webp"
                alt="beds-mattresses"
                class="category-img"
              />
            </picture>
            <p class="category-name">Ліжка та матраци</p>
          </div>
        </li>

        <li class="category-item">
          <div class="category-wrapper">
            <picture>
              <source
                srcset="
                  /img/furniture/furniture-categories/tables.webp    1x,
                  /img/furniture/furniture-categories/tables@2x.webp 2x
                "
              />
              <img
                src="/img/furniture/furniture-categories/tables.webp"
                alt="tables"
                class="category-img"
              />
            </picture>
            <p class="category-name">Столи</p>
          </div>
        </li>

        <li class="category-item">
          <div class="category-wrapper">
            <picture>
              <source
                srcset="
                  /img/furniture/furniture-categories/chairs-stools.webp    1x,
                  /img/furniture/furniture-categories/chairs-stools@2x.webp 2x
                "
              />
              <img
                src="/img/furniture/furniture-categories/chairs-stools.webp"
                alt="chairs-stools"
                class="category-img"
              />
            </picture>
            <p class="category-name">Стільці та табурети</p>
          </div>
        </li>

        <li class="category-item">
          <div class="category-wrapper">
            <picture>
              <source
                srcset="
                  /img/furniture/furniture-categories/kitchens.webp    1x,
                  /img/furniture/furniture-categories/kitchens@2x.webp 2x
                "
              />
              <img
                src="/src/img/furniture/furniture-categories/kitchens.webp"
                alt="kitchens"
                class="category-img"
              />
            </picture>
            <p class="category-name">Кухні</p>
          </div>
        </li>

        <li class="category-item">
          <div class="category-wrapper">
            <picture>
              <source
                srcset="
                  /img/furniture/furniture-categories/furniture-nursery.webp,
                  /img/furniture/furniture-categories/furniture-nursery@2x.webp 2x
                "
              />
              <img
                src="/img/furniture/furniture-categories/furniture-nursery.webp"
                alt="furniture-nursery"
                class="category-img"
              />
            </picture>
            <p class="category-name">Меблі для дитячої</p>
          </div>
        </li>

        <li class="category-item">
          <div class="category-wrapper">
            <picture>
              <source
                srcset="
                  /img/furniture/furniture-categories/office-furniture.webp    1x,
                  /img/furniture/furniture-categories/office-furniture@2x.webp 2x
                "
              />
              <img
                src="/img/furniture/furniture-categories/office-furniture.webp"
                alt="office-furniture"
                class="category-img"
              />
            </picture>
            <p class="category-name">Меблі для офісу</p>
          </div>
        </li>

        <li class="category-item">
          <div class="category-wrapper">
            <picture>
              <source
                srcset="
                  /img/furniture/furniture-categories/hallway-furniture.webp    1x,
                  /img/furniture/furniture-categories/hallway-furniture@2x.webp 2x
                "
              />
              <img
                src="/img/furniture/furniture-categories/hallway-furniture.webp"
                alt="hallway-furniture"
                class="category-img"
              />
            </picture>
            <p class="category-name">Меблі для передпокою</p>
          </div>
        </li>

        <li class="category-item">
          <div class="category-wrapper">
            <picture>
              <source
                srcset="
                  /img/furniture/furniture-categories/bathroom-furniture.webp    1x,
                  /img/furniture/furniture-categories/bathroom-furniture@2x.webp 2x
                "
              />
              <img
                src="/img/furniture/furniture-categories/bathroom-furniture.webp"
                alt="bathroom-furniture"
                class="category-img"
              />
            </picture>
            <p class="category-name">Меблі для ванної кімнати</p>
          </div>
        </li>

        <li class="category-item">
          <div class="category-wrapper">
            <picture>
              <source
                srcset="
                  /img/furniture/furniture-categories/garden-furniture.webp    1x,
                  /img/furniture/furniture-categories/garden-furniture@2x.webp 2x
                "
              />
              <img
                src="/img/furniture/furniture-categories/garden-furniture.webp"
                alt="garden-furniture"
                class="category-img"
              />
            </picture>
            <p class="category-name">Садові та вуличні меблі</p>
          </div>
        </li>

        <li class="category-item">
          <div class="category-wrapper">
            <picture>
              <source
                srcset="
                  /img/furniture/furniture-categories/decor-accessories.webp    1x,
                  /img/furniture/furniture-categories/decor-accessories@2x.webp 2x
                "
              />
              <img
                src="/img/furniture/furniture-categories/decor-accessories.webp"
                alt="decor-accessories"
                class="category-img"
              />
            </picture>
            <p class="category-name">Декор та аксесуари</p>
          </div>
        </li>
      </ul>
    </div>
    <div class="furniture-container">
      <ul class="furniture-list">
        <li class="furniture-loader"></li>
        <li class="furniture-loader"></li>
        <li class="furniture-loader"></li>
        <li class="furniture-loader"></li>
        <li class="furniture-loader"></li>
        <li class="furniture-loader"></li>
        <li class="furniture-loader"></li>
        <li class="furniture-loader"></li>
      </ul>
      <button type="button" class="show-more-btn button-main btn--red">
        Показати ще
      </button>
      <div id="pagination" class="pagination"></div>
    </div>
  </div>
</section>
