<section class="furniture">
  <div class="container">
    <div class="categories-container"></div>
    <div class="furniture-container">
      <ul class="furniture-list">
        <li class="furniture-list-item">
          <img
            src="./img/furniture/sofa.png"
            class="furniture-img"
            alt="Диван Комфорт плюс"
            width="335"
          />
          <h3 class="furniture-title">Софа Oslo</h3>
          <ul class="furniture-color-list">
            <li>
              <label class="furniture-color-radio">
                <input type="radio" name="color" />
                <span
                  class="color-circle"
                  style="background-color: #ccc"
                ></span>
              </label>
            </li>
            <li>
              <label class="furniture-color-radio">
                <input type="radio" name="color" />
                <span
                  class="color-circle"
                  style="background-color: #d4c4a8"
                ></span>
              </label>
            </li>
            <li>
              <label class="furniture-color-radio">
                <input type="radio" name="color" />
                <span
                  class="color-circle"
                  style="background-color: #111"
                ></span>
              </label>
            </li>
          </ul>

          <p class="furniture-price">9 999 грн</p>
          <button type="button" class="furniture-more-btn">Детальніше</button>
        </li>
        <li class="furniture-list-item">
          <img
            src="./img/furniture/sofa.png"
            class="furniture-img"
            alt="Диван Комфорт плюс"
            width="335"
          />
          <h3 class="furniture-title">Софа Oslo</h3>
          <ul class="furniture-color-list">
            <li>
              <label class="furniture-color-radio">
                <input type="radio" name="color" />
                <span
                  class="color-circle"
                  style="background-color: #ccc"
                ></span>
              </label>
            </li>
            <li>
              <label class="furniture-color-radio">
                <input type="radio" name="color" />
                <span
                  class="color-circle"
                  style="background-color: #d4c4a8"
                ></span>
              </label>
            </li>
            <li>
              <label class="furniture-color-radio">
                <input type="radio" name="color" />
                <span
                  class="color-circle"
                  style="background-color: #111"
                ></span>
              </label>
            </li>
          </ul>

          <p class="furniture-price">9 999 грн</p>
          <button type="button" class="furniture-more-btn">Детальніше</button>
        </li>
        <li class="furniture-list-item">
          <img
            src="./img/furniture/sofa.png"
            class="furniture-img"
            alt="Диван Комфорт плюс"
            width="335"
          />
          <h3 class="furniture-title">Софа Oslo</h3>
          <ul class="furniture-color-list">
            <li>
              <label class="furniture-color-radio">
                <input type="radio" name="color" />
                <span
                  class="color-circle"
                  style="background-color: #ccc"
                ></span>
              </label>
            </li>
            <li>
              <label class="furniture-color-radio">
                <input type="radio" name="color" />
                <span
                  class="color-circle"
                  style="background-color: #d4c4a8"
                ></span>
              </label>
            </li>
            <li>
              <label class="furniture-color-radio">
                <input type="radio" name="color" />
                <span
                  class="color-circle"
                  style="background-color: #111"
                ></span>
              </label>
            </li>
          </ul>

          <p class="furniture-price">9 999 грн</p>
          <button type="button" class="furniture-more-btn">Детальніше</button>
        </li>
        <li class="furniture-list-item">
          <img
            src="./img/furniture/sofa.png"
            class="furniture-img"
            alt="Диван Комфорт плюс"
            width="335"
          />
          <h3 class="furniture-title">Софа Oslo</h3>
          <ul class="furniture-color-list">
            <li>
              <label class="furniture-color-radio">
                <input type="radio" name="color" />
                <span
                  class="color-circle"
                  style="background-color: #ccc"
                ></span>
              </label>
            </li>
            <li>
              <label class="furniture-color-radio">
                <input type="radio" name="color" />
                <span
                  class="color-circle"
                  style="background-color: #d4c4a8"
                ></span>
              </label>
            </li>
            <li>
              <label class="furniture-color-radio">
                <input type="radio" name="color" />
                <span
                  class="color-circle"
                  style="background-color: #111"
                ></span>
              </label>
            </li>
          </ul>

          <p class="furniture-price">9 999 грн</p>
          <button type="button" class="furniture-more-btn">Детальніше</button>
        </li>
        <li class="furniture-list-item">
          <img
            src="./img/furniture/sofa.png"
            class="furniture-img"
            alt="Диван Комфорт плюс"
            width="335"
          />
          <h3 class="furniture-title">Софа Oslo</h3>
          <ul class="furniture-color-list">
            <li>
              <label class="furniture-color-radio">
                <input type="radio" name="color" />
                <span
                  class="color-circle"
                  style="background-color: #ccc"
                ></span>
              </label>
            </li>
            <li>
              <label class="furniture-color-radio">
                <input type="radio" name="color" />
                <span
                  class="color-circle"
                  style="background-color: #d4c4a8"
                ></span>
              </label>
            </li>
            <li>
              <label class="furniture-color-radio">
                <input type="radio" name="color" />
                <span
                  class="color-circle"
                  style="background-color: #111"
                ></span>
              </label>
            </li>
          </ul>

          <p class="furniture-price">9 999 грн</p>
          <button type="button" class="furniture-more-btn">Детальніше</button>
        </li>
        <li class="furniture-list-item">
          <img
            src="./img/furniture/sofa.png"
            class="furniture-img"
            alt="Диван Комфорт плюс"
            width="335"
          />
          <h3 class="furniture-title">Софа Oslo</h3>
          <ul class="furniture-color-list">
            <li>
              <label class="furniture-color-radio">
                <input type="radio" name="color" />
                <span
                  class="color-circle"
                  style="background-color: #ccc"
                ></span>
              </label>
            </li>
            <li>
              <label class="furniture-color-radio">
                <input type="radio" name="color" />
                <span
                  class="color-circle"
                  style="background-color: #d4c4a8"
                ></span>
              </label>
            </li>
            <li>
              <label class="furniture-color-radio">
                <input type="radio" name="color" />
                <span
                  class="color-circle"
                  style="background-color: #111"
                ></span>
              </label>
            </li>
          </ul>

          <p class="furniture-price">9 999 грн</p>
          <button type="button" class="furniture-more-btn">Детальніше</button>
        </li>
        <li class="furniture-list-item">
          <img
            src="./img/furniture/sofa.png"
            class="furniture-img"
            alt="Диван Комфорт плюс"
            width="335"
          />
          <h3 class="furniture-title">Софа Oslo</h3>
          <ul class="furniture-color-list">
            <li>
              <label class="furniture-color-radio">
                <input type="radio" name="color" />
                <span
                  class="color-circle"
                  style="background-color: #ccc"
                ></span>
              </label>
            </li>
            <li>
              <label class="furniture-color-radio">
                <input type="radio" name="color" />
                <span
                  class="color-circle"
                  style="background-color: #d4c4a8"
                ></span>
              </label>
            </li>
            <li>
              <label class="furniture-color-radio">
                <input type="radio" name="color" />
                <span
                  class="color-circle"
                  style="background-color: #111"
                ></span>
              </label>
            </li>
          </ul>

          <p class="furniture-price">9 999 грн</p>
          <button type="button" class="furniture-more-btn">Детальніше</button>
        </li>
        <li class="furniture-list-item">
          <img
            src="./img/furniture/sofa.png"
            class="furniture-img"
            alt="Диван Комфорт плюс"
            width="335"
          />
          <h3 class="furniture-title">Софа Oslo</h3>
          <ul class="furniture-color-list">
            <li>
              <label class="furniture-color-radio">
                <input type="radio" name="color" />
                <span
                  class="color-circle"
                  style="background-color: #ccc"
                ></span>
              </label>
            </li>
            <li>
              <label class="furniture-color-radio">
                <input type="radio" name="color" />
                <span
                  class="color-circle"
                  style="background-color: #d4c4a8"
                ></span>
              </label>
            </li>
            <li>
              <label class="furniture-color-radio">
                <input type="radio" name="color" />
                <span
                  class="color-circle"
                  style="background-color: #111"
                ></span>
              </label>
            </li>
          </ul>

          <p class="furniture-price">9 999 грн</p>
          <button type="button" class="furniture-more-btn">Детальніше</button>
        </li>
      </ul>
      <button type="button" class="furniture-btn show-more-btn">
        Показати ще
      </button>
    </div>
  </div>
</section>
