<section>
    <div class="furniture-container">
    <h2>Наші меблі</h2>
<p>Знайдіть ідеальні рішення для вашого інтер'єру</p>
<div class="cntr-categors">
<ul class="categories">
    <li class="category-item">
        <picture>
            <source
            srcset="/src/img/furniture/furniture-categories/all-products-1.webp 1x,
                    /src/img/furniture/furniture-categories/all-products.webp 2x"
            >
            <img src="/src/img/furniture/furniture-categories/all-products-1.webp" 
            alt="category-item"
            class="category-img">
        </picture>
        Всі товари</li>

    <li class="category-item">
        <picture>
            <source
            srcset="/src/img/furniture/furniture-categories/upholstered-furniture-1.webp 1x,
                    /src/img/furniture/furniture-categories/upholstered-furniture.webp 2x"
            >
            <img src="/src/img/furniture/furniture-categories/upholstered-furniture-1.webp" 
            alt="upholstered-furniture"
            class="category-img">
        </picture>М'які меблі</li>

    <li class="category-item">
        <picture>
            <source
            srcset="/src/img/furniture/furniture-categories/cabinets-storage-systems-1.webp 1x,
                    /src/img/furniture/furniture-categories/cabinets-storage-systems.webp 2x"
            >
            <img src="/src/img/furniture/furniture-categories/cabinets-storage-systems-1.webp" 
            alt="cabinets-storage-systems"
            class="category-img">
        </picture>Шафи та системи зберігання</li>

    <li class="category-item">
        <picture>
            <source
            srcset="/src/img/furniture/furniture-categories/beds-mattresses-1.webp 1x,
                    /src/img/furniture/furniture-categories/beds-mattresses.webp 2x"
            >
            <img src="/src/img/furniture/furniture-categories/beds-mattresses-1.webp" 
            alt="beds-mattresses"
            class="category-img">
        </picture>Ліжка та матраци</li>

    <li class="category-item">
        <picture>
            <source
            srcset="/src/img/furniture/furniture-categories/tables-1.webp 1x,
                    /src/img/furniture/furniture-categories/tables.webp 2x"
            >
            <img src="/src/img/furniture/furniture-categories/tables-1.webp" 
            alt="tables"
            class="category-img">
        </picture>Столи</li>

    <li class="category-item">
        <picture>
            <source
            srcset="/src/img/furniture/furniture-categories/chairs-stools-1.webp 1x,
                    /src/img/furniture/furniture-categories/chairs-stools.webp 2x"
            >
            <img src="/src/img/furniture/furniture-categories/chairs-stools-1.webp" 
            alt="chairs-stools"
            class="category-img">
        </picture>Стільці та табурети</li>
        
    <li class="category-item">
        <picture>
            <source
            srcset="/src/img/furniture/furniture-categories/kitchens-1.webp 1x,
                    /src/img/furniture/furniture-categories/kitchens.webp 2x"
            >
            <img src="/src/img/furniture/furniture-categories/kitchens-1.webp" 
            alt="kitchens"
            class="category-img">
        </picture>Кухні</li>

    <li class="category-item">
        <picture>
            <source
            srcset="/src/img/furniture/furniture-categories/furniture-nursery-1.webp,
                    /src/img/furniture/furniture-categories/furniture-nursery.webp 2x"
            >
            <img src="/src/img/furniture/furniture-categories/furniture-nursery-1.webp" 
            alt="furniture-nursery"
            class="category-img">
        </picture>Меблі для дитячої</li>

    <li class="category-item">
        <picture>
            <source
            srcset="/src/img/furniture/furniture-categories/office-furniture-1.webp 1x,
                    /src/img/furniture/furniture-categories/office-furniture.webp 2x"
            >
            <img src="/src/img/furniture/furniture-categories/office-furniture-1.webp" 
            alt="office-furniture"
            class="category-img">
        </picture>Меблі для офісу</li>

    <li class="category-item">
        <picture>
            <source
            srcset="/src/img/furniture/furniture-categories/hallway-furniture-1.webp 1x,
                    /src/img/furniture/furniture-categories/hallway-furniture.webp 2x"
            >
            <img src="/src/img/furniture/furniture-categories/hallway-furniture-1.webp" 
            alt="hallway-furniture"
            class="category-img">
        </picture>Меблі для передпокою</li>

    <li class="category-item">
        <picture>
            <source
            srcset="/src/img/furniture/furniture-categories/bathroom-furniture-1.webp 1x,
                    /src/img/furniture/furniture-categories/bathroom-furniture.webp 2x"
            >
            <img src="/src/img/furniture/furniture-categories/bathroom-furniture-1.webp" 
            alt="bathroom-furniture"
            class="category-img">
        </picture>Меблі для ванної кімнати</li>

    <li class="category-item">
        <picture>
            <source
            srcset="/src/img/furniture/furniture-categories/garden-furniture-1.webp 1x,
                    /src/img/furniture/furniture-categories/garden-furniture.webp 2x"
            >
            <img src="/src/img/furniture/furniture-categories/garden-furniture-1.webp" 
            alt="garden-furniture"
            class="category-img">
        </picture>Садові та вуличні меблі</li>

    <li class="category-item">
        <picture>
            <source
            srcset="/src/img/furniture/furniture-categories/decor-accessories-1.webp 1x,
                    /src/img/furniture/furniture-categories/decor-accessories.webp 2x"
            >
            <img src="/src/img/furniture/furniture-categories/decor-accessories-1.webp" 
            alt="decor-accessories"
            class="category-img">
        </picture>Декор та аксесуари</li>
</ul>
</div>
</div>
</section>

