<section class="header">
  <div class="container header__wrapper">
    <a class="header__logo header--anim" href="./index.html"
      ><svg width="158" height="35">
        <use href="/img/icons.svg#mebleria-logo"></use>
      </svg>
    </a>

    <button class="header__menu-btn header--anim visible js-header__menu-btn">
      <svg width="24" height="24">
        <use href="/img/icons.svg#menu-icon"></use>
      </svg>
    </button>

    <button
      class="header__close-btn header--anim js-header__close-btn"
      aria-label="close button"
    >
      <svg width="16" height="16">
        <use href="/img/icons.svg#close-icon"></use>
      </svg>
    </button>
  </div>
</section>
