<header class="header">
  <div class="container header__wrapper">
    <a class="header__logo header--anim" href="./index.html"
      ><svg width="158" height="35">
        <use href="/img/icons.svg#mebleria-logo"></use>
      </svg>
    </a>

    <button class="header__menu-btn header--anim js-header__menu-btn">
      <svg width="24" height="24">
        <use href="/img/icons.svg#menu-icon"></use>
      </svg>
    </button>

    <button
      class="header__close-btn header--anim js-header__close-btn"
      aria-label="close button"
    >
      <svg width="16" height="16">
        <use href="/img/icons.svg#close-icon"></use>
      </svg>
    </button>

    <div class="header__nav-n-btn">
      <nav class="header-nav">
        <ul class="header-nav__list">
          <li class="header-nav__item">
            <a class="header-nav__link" href="#mebleria-furniture-list"
              >Наші меблі</a
            >
          </li>
          <li class="header-nav__item">
            <a class="header-nav__link" href="#mebleria-about-us">Про нас</a>
          </li>
          <li class="header-nav__item">
            <a class="header-nav__link" href="#mebleria-faq">Часті питання</a>
          </li>
          <li class="header-nav__item">
            <a class="header-nav__link" href="#mebleria-feedback">Відгуки</a>
          </li>
        </ul>
      </nav>
      <a
        class="header__button button-main btn--red js-header-btn"
        href="#mebleria-furniture-list"
        >До покупок</a
      >
    </div>
  </div>
</header>

<div class="header__modal js-header__modal is-hidden">
  <div class="container">
    <nav class="header-modal__nav">
      <ul class="header-modal__list">
        <li class="header-modal__item">
          <a class="header-modal__link" href="#mebleria-furniture-list"
            >Наші меблі</a
          >
        </li>
        <li class="header-modal__item">
          <a class="header-modal__link" href="#mebleria-about-us">Про нас</a>
        </li>
        <li class="header-modal__item">
          <a class="header-modal__link" href="#mebleria-faq">Часті питання</a>
        </li>
        <li class="header-modal__item">
          <a class="header-modal__link" href="#mebleria-feedback">Відгуки</a>
        </li>
      </ul>
    </nav>
    <a
      class="header-modal__button button-main btn--red"
      href="#mebleria-furniture-list"
      >До покупок</a
    >
  </div>
</div>
