<div class="modal-details-overlay" id="modalOverlay">
  <div class="modal-details">
    <button type="button" class="modal-details-close">
      <svg width="32" height="32">
        <use href="./img/icons.svg#close-icon"></use>
      </svg>
    </button>

    <div class="modal-details-content">
      <div class="modal-details-gallery">
        <img
          src="../img/modal/Image container.png"
          alt="Софа Oslo"
          class="modal-details-big-image"
        />
        <div class="modal-details-subgallery">
          <img
            src="../img/modal/Placeholder Image.png"
            alt="Вид 1"
            class="modal-details-small-image"
          />
          <img
            src="../img/modal/Placeholder Image (1).png"
            alt="Вид 2"
            class="modal-details-small-image"
          />
        </div>
      </div>

      <div class="modal-details-info">
        <h2 class="modal-details-title">Софа Oslo</h2>
        <p class="modal-details-category">Дивани</p>
        <p class="modal-details-price">9 999 грн</p>

        <div class="modal-details-rating">★★★★★</div>

        <div class="modal-details-colors">
          <p class="modal-detail-color-title">Колір</p>
          <div class="modal-detail-color-options">
            <label>
              <input
                type="radio"
                name="color"
                class="color"
                style="background-color: #d2cdc5"
                checked
              />
            </label>
            <label>
              <input
                type="radio"
                name="color"
                class="color"
                style="background-color: #c8a879"
              />
            </label>
            <label>
              <input
                type="radio"
                name="color"
                class="color"
                style="background-color: #1e1817"
              />
            </label>
          </div>
          <p class="modal-details-description">
            Класичний диван з м'якими подушками та високою спинкою, ідеальний
            для сімейного відпочинку. Оббивка з якісної зносостійкої тканини.
          </p>

          <p class="modal-details-dimensions">
            Розміри: <span>280×180×85</span>
          </p>

          <button class="modal-details-order-btn button-main btn--red">
            Перейти до замовлення
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
