<div class="backdrop" data-modal>
  <div class="modal">
    <button
      type="button"
      class="modal-close-btn"
      aria-label="Close modal"
      data-modal-close
    >
      <svg class="modal-close-icon" width="15" height="15">
        <use href="/img/icons.svg#close-icon"></use>
      </svg>
    </button>

    <h2 class="modal-title">Замовити</h2>

    <form class="order-form">
      <label class="form-label">
        Ім’я*
        <input
          type="text"
          name="name"
          class="form-input"
          placeholder="Дмитро"
          required
        />
      </label>

      <label class="form-label">
        Телефон*
        <input
          type="tel"
          name="phone"
          class="form-input"
          placeholder="+38 099 123 22 11"
          pattern="[+][0-9]+"
          inputmode="tel"
          required
        />
      </label>

      <label class="form-label">
        Коментар
        <textarea
          name="comment"
          class="form-textarea"
          placeholder="Введіть ваш коментар"
        ></textarea>
      </label>

      <button type="submit" class="button-main btn--red modal-submit-btn">
        Надіслати заявку
      </button>
    </form>
  </div>
</div>
