.about-us {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: #f0e6e6;
    border: 1px solid #000;
    width: 1440px;
    height: 564px;
}

.container-about-us {
    width: 1312px;
    height: 436px;
    max-width: 1318px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 24px;
}

.container-about-us-text {
    width: 644px;
    height: 198px;
}
.about-us-title {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    color: #080c09;
}

.about-us-text {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    color: #080c09;
}

.about-us-picture {
    border-radius: 8px;
    width: 644px;
    height: 436px;
}
