.about-us {
    background-color: var(--color-madang-lightest);
    height: 887px;
    padding-top: 64px;
    padding-bottom: 64px;
    width: 100%;
}
.container-about-us {
    width: 335px;
    height: 759px;
    max-width: 1318px;
}
.container-about-us-text {
    width: 335px;
    height: 299px;
    margin-bottom: 24px;
}
.about-us-title {
    font-family: "Raleway Bold", sans-serif;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    color: var(--color-neutral-darkest);
    margin-bottom: 24px;
}
.about-us-text {
    font-family: "Raleway Regular", sans-serif;
    font-size: 18px;
    line-height: 1.6;
    color: var(--color-neutral-darkest);
}
.about-us-picture {
    max-width: 335px;
}
@media screen and (min-width: 768px) {
    .about-us {
        height: 707px;
        padding-top: 32px;
        padding-bottom: 32px;
        width: 100%;
    }
    .container-about-us {
        width: 704px;
        height: 643px;
        
    }
    .container-about-us-text {
        width: 704px;
        height: 183px;
        margin-bottom: 24px;
    }
    .about-us-picture {
        max-width: 704px;
    }
}
@media screen and (min-width: 1440px) {
.about-us {
        height: 564px;
        padding-top: 64px;
        padding-bottom: 64px;
        width: 100%;
    }
    .container-about-us {
        width: 1312px;
        height: 436px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
        gap: 24px;
    }
    .container-about-us-text {
        max-width: 644px;
        height: 198px;
    }
    .about-us-picture {
        max-width: 644px;
    }
}