.about-us {
    background: #f0e6e6;
    width: 375px;
    height: 887px;
}

.container-about-us {
    width: 335px;
    height: 759px;
    max-width: 1318px;
    padding-top: 64px;
    padding-bottom: 64px;
}

.container-about-us-text {
    width: 335px;
    height: 299px;
    margin-bottom: 24px;
}

.about-us-title {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    color: #080c09;
    margin-bottom: 24px;
}

.about-us-text {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    color: #080c09;
}

.about-us-picture {
    border-radius: 8px;
    width: 335px;
    height: 436px;
}

@media screen and (min-width: 768px) {
    .about-us {
        width: 768px;
        height: 707px;
    }
    
    .container-about-us {
        width: 704px;
        height: 643px;
        padding-top: 32px;
        padding-bottom: 32px;
    }
    
    .container-about-us-text {
        width: 704px;
        height: 183px;
        margin-bottom: 24px;
    }
    
    .about-us-picture {
        width: 704px;
    }
}

@media screen and (min-width: 1440px) {
.about-us {
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        border: 1px solid #000;
        width: 1440px;
        height: 564px;
    }

    .container-about-us {
        width: 1312px;
        height: 436px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
        gap: 24px;
        margin-top: 64px;
        margin-bottom: 64px;
    }

    .container-about-us-text {
        width: 644px;
        height: 198px;
    }

    .about-us-picture {
        border-radius: 8px;
        width: 644px;
        height: 436px;
    }
}