.about-us {
    background-color: var(--color-madang-lightest);
    padding: 64px 0;
    width: 100%;
}
.about-us-title {
    font-family: "Raleway Bold", sans-serif;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    color: var(--color-neutral-darkest);
    margin-bottom: 24px;
}
.about-us-text {
    font-family: "Raleway Regular", sans-serif;
    font-size: 18px;
    line-height: 1.6;
    color: var(--color-neutral-darkest);
    margin-bottom: 24px;
}
.about-us-picture {
    max-width: 335px;
}
@media screen and (min-width: 768px) {
    .about-us {
        padding: 32px 0;
    }
    .about-us-picture {
        max-width: 704px;
    }
}
@media screen and (min-width: 1440px) {
    .about-us {
        padding-top: 64px;
        padding-bottom: 64px;
    }
    .container-about-us {
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 24px;
    }
    .container-about-us-text {
        max-width: 644px;
    }
    .about-us-text {
        margin-bottom: 0;
    }
    .about-us-picture {
        max-width: 644px;
    }
}