html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

main {
  flex-grow: 1;
}

@font-face {
  font-family: 'Raleway Regular';
  font-display: swap;
  src: url('/fonts/Raleway-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Raleway Medium';
  font-display: swap;
  src: url('/fonts/Raleway-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Raleway SemiBold';
  font-display: swap;
  src: url('/fonts/Raleway-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Raleway Bold';
  font-display: swap;
  src: url('/fonts/Raleway-Bold.woff2') format('woff2');
}
