.categories-container {
  margin-bottom: 40px;
}

.furniture {
  padding: 48px 0px;
}

.categories-title {
  font-size: 36px;

  /* line-height: 43px; */
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: var(--color-neutral-darkest);
  margin-bottom: 16px;
  font-family: 'Raleway Bold', sans-serif;
}

.categories-subtitle {
  font-size: 18px;

  /* line-height: 29px; */
  line-height: 1.6;
  color: var(--color-neutral-darkest);
  margin-bottom: 40px;
  font-family: 'Raleway Regular', sans-serif;
}

.category-wrapper {
  position: relative;
  overflow: hidden;
}

.categories {
  max-width: 335px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.category-item {
  width: calc((100% - 16px) / 2);
}

.category-item.active {
  border: 8px solid var(--color-madang);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease;
}

.category-item:hover {
  cursor: pointer;
}

.category-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.category-img.active {
  border-radius: 0px;
}

.category-name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;

  line-height: 1.4;
  letter-spacing: 0.01em;
  text-align: center;
  color: var(--color-white);
  font-family: 'Raleway Bold', sans-serif;
}

@media screen and (min-width: 768px) {
  .title-cntr,
  .categories {
    max-width: 704px;
    gap: 24px;
  }

  .category-item {
    width: calc((100% - 3 * 24px) / 4);
  }

  .furniture {
    padding: 48px 0px;
  }
}

@media screen and (min-width: 1440px) {
  .title-cntr,
  .categories {
    max-width: 1312px;
  }

  .category-item {
    width: calc((100% - 6 * 24px) / 7);
  }
  .furniture {
    padding: 80px 0px;
  }
}
