:root {
  --font-family: 'Raleway', sans-serif;
  --second-family: 'IBM Plex Sans', sans-serif;
  --color-neutral-darkest: #080c09;
  --color-white: #fff;
  --color-scheme-1-text: var(--color-neutral-darkest);
  --color-scheme-1-background: var(--color-white);
  --color-scheme-1-border: var(--opacity-neutral-darkest-15);
  --opacity-neutral-darkest-15: rgba(8, 12, 9, 0.15);
}

.faq-block {
  font-family: var(--font-family);
  color: var(--color-scheme-1-text);
  padding: 48px 20px;
  max-width: 375px;
  height: 635px;
  background: var(--color-scheme-1-background);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.faq-block-item {
  border-bottom: 1px solid var(--color-scheme-1-border);
  border-top: 1px solid var(--color-scheme-1-border);
}
.faq-block-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  letter-spacing: 0.01em;
  text-align: center;
  margin-bottom: 32px;
}
.faq-block-question {
  font-weight: 700;
  font-size: 18px;
  line-height: 160%;
}
.faq-block-answer {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
}

@media screen and (min-width: 768px) {
  .faq-block {
    padding: 48px 32px;
    max-width: 768px;
  }
  .faq-block ul {
    width: 100%;
  }
}
@media screen and (min-width: 1440px) {
  .faq-block {
    padding: 80px 64px;
    max-width: 1440px;
  }
  .faq-block ul {
    max-width: 865px;
    height: 360px; /* треба ????????*/
  }
  .faq-block-title {
    font-size: 48px;
  }
}
.hidden {
  display: none;
}
