:root {
  --font-family: 'Raleway', sans-serif;
}
.faq-section .ac {
  border: none;
  font-family: var(--font-family);
  border-top: 1px solid var(--color-scheme-1-border);
  margin: 0;
}
.faq-section .ac:last-child {
  border-bottom: 1px solid var(--color-scheme-1-border);
}
.faq-section .ac-header {
  margin: 20px 0 !important;
}
.ac-trigger {
  max-width: 280px;
  border: none;
  color: var(--color-scheme-1-text) !important;
  background-color: var(--color-scheme-1-background);
  padding: 0 !important;
  font-family: 'Raleway Bold' !important;
  font-size: 18px !important;
  line-height: 160% !important;
}
.ac-trigger:focus,
.ac-trigger:hover {
  opacity: 0.5;
}
.ac-panel {
  font-family: 'Raleway Regular' !important;
  font-size: 16px !important;
  line-height: 160% !important;
}
.ac .ac-trigger::after {
  content: '' !important;
  background-image: url('../img/bird.svg');
  background-size: 15px 15px; /* Встановіть розмір фону */
  width: 15px;
  height: 15px;
  right: -48px !important;
}
.ac.is-active > .ac-header .ac-trigger::after {
  transform: rotate(180deg);
  top: 25%;
}

.faq-block {
  color: var(--color-scheme-1-text);
  padding: 48px 0;
  max-width: 375px;
  height: 635px;
  background: var(--color-scheme-1-background);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.faq-block-title {
  font-family: 'Raleway Bold';
  font-size: 36px;
  line-height: 120%;
  letter-spacing: 0.01em;
  text-align: center;
  margin-bottom: 32px;
}

.faq-block-answer {
  font-family: 'Raleway Regular';
  font-size: 16px;
  line-height: 160%;
  padding-right: 8px;
  padding-bottom: 24px;
}

@media screen and (min-width: 768px) {
  .faq-block {
    padding: 48px 0;
    max-width: 768px;
    max-height: 531px;
  }
  .ac-trigger {
    max-width: 650px;
  }
}
@media screen and (min-width: 1440px) {
  .faq-block {
    padding: 80px 0;
    max-width: 1440px;
    max-height: 610px;
  }
  .faq-block-title {
    font-size: 48px;
  }
  .ac-trigger {
    max-width: 810px;
  }
  .ac .ac-trigger::after {
    right: -156px !important;
  }
}
