.faq-section .ac {
  border: none;
  border-top: 1px solid var(--color-scheme-1-border);
  margin: 0;
}
.faq-section .ac:last-child {
  border-bottom: 1px solid var(--color-scheme-1-border);
}
.faq-section .ac .ac-header {
  margin: 20px 0;
}
.faq-section .ac .ac-trigger {
  max-width: 280px;
  border: none;
  color: var(--color-scheme-1-text);
  padding: 0;
  font-family: 'Raleway Bold';
  font-size: 18px;
  line-height: 160%;
}
.ac-trigger:focus,
.ac-trigger:hover {
  opacity: 0.5;
}
.faq-section .ac .ac-trigger::after {
  content: '' !important;
  background-image: url('../img/arrow-up.svg');
  background-size: 15px 15px;
  width: 15px;
  height: 15px;
  right: -48px;
}
.ac.is-active > .ac-header .ac-trigger::after {
  transform: rotate(180deg);
  top: 25%;
}

.faq-block {
  color: var(--color-scheme-1-text);
  padding: 48px 0;
  max-width: 375px;
  height: 635px;
  background: var(--color-scheme-1-background);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.faq-block-title {
  font-family: 'Raleway Bold';
  font-size: 36px;
  line-height: 120%;
  letter-spacing: 0.01em;
  text-align: center;
  margin-bottom: 32px;
}

.faq-block-answer {
  font-family: 'Raleway Regular';
  font-size: 16px;
  line-height: 160%;
  padding-right: 8px;
  padding-bottom: 24px;
}

@media only screen and (min-width: 768px) {
  .faq-block {
    padding: 48px 0;
    max-width: 768px;
    max-height: 531px;
  }
  .faq-section .ac .ac-trigger {
    max-width: 650px;
  }
}
@media only screen and (min-width: 1440px) {
  .faq-block {
    padding: 80px 0;
    max-width: 1440px;
    max-height: 610px;
  }
  .faq-block-title {
    font-size: 48px;
  }
  .faq-section .ac .ac-trigger {
    max-width: 810px;
  }
  .faq-section .ac .ac-header .ac-trigger::after {
    right: -188px !important;
  }
}
