
.feedback {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 80px;
  width: 100%;
  padding-top: 64px;
  padding-bottom: 64px;
  margin: 0 auto;
  background-color: var(--color-scheme-1-background);
  box-sizing: border-box;
}


.feedback-title {
  font: 700 48px / 1.2 var(--font-family);
  letter-spacing: 0.01em;
  color: var(--color-scheme-1-text); 
  margin-bottom: 24px;
}

.feedback-subtitle {
  font: 400 18px / 1.6 var(--font-family);
  color: var(--color-scheme-1-text);
}

.feedback-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 64px;
  height: 80px; 
}

.feedback-loader.is-hidden {
  display: none;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid var(--color-border-light);
  border-top: 5px solid var(--color-primary);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.feedback-slider {
  position: relative;
}

.swiper-wrapper {
  display: flex;
}

.swiper-slide {
  display: flex;
  justify-content: center;
}

.feedback-card {
 display: flex;
 align-items: flex-start;
 justify-content: flex-start;
 flex-direction: column;
 gap: 24px;
 padding: 0px 48px 0px 0px;
 width: 100%;
 height: auto;
 background-color: var(--color-white);
 border-radius: 16px; 
 box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
 text-align: left;
}

.feedback-card__stars-wrapper {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-bottom: 24px;
}


.feedback-card__stars svg {
  width: 20px;       
  height: 20px;
  fill: var(--color-neutral-darkest); 
}

.feedback-card__text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.6;
  color: var(--color-neutral-darkest);
  margin-bottom: 24px;
}

.feedback-card__author {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.6;
  color: var(--color-neutral-darkest);
  margin-bottom: 48px; 
}

.feedback-controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 40px;
  width: 100%;
  margin-bottom: 64px; 
}

.feedback-pagination {
  display: flex;
  gap: 8px; 
}

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  border-radius: 100%; 
  background-color: var(--color-scheme-1-text);
  opacity: 0.2;
  transition: opacity 0.3s ease;
}

.swiper-pagination-bullet-active {
opacity: 1;
}

.feedback-nav {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 16px;
  width: 100%;
  height: auto;
}

.feedback-nav button {
  background: none;
  border: none;
  cursor: pointer;
}

.feedback-btn-prev,
.feedback-btn-next {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 8px;
  width: 48px;
  height: 48px;
  padding: 12px;
  border: 1px solid var(--opacity-neutral-darkest-15);
  border-radius: 100px;
  background: var(--color-scheme-1-foreground);
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.feedback-btn-prev:hover,
.feedback-btn-next:hover,
.feedback-btn-prev:focus,
.feedback-btn-next:focus{
  background-color: var(--color-madang-light);
  transform: scale(1.05);
}

.feedback-btn-prev:active,
.feedback-btn-next:active {
  background: var(--color-madang); 
}


.feedback-btn-prev:disabled,
.feedback-btn-next:disabled {
  opacity: 0.4;
  cursor: default;
}

.feedback-btn-prev svg,
.feedback-btn-next svg {
  width: 14px;
  height: 14px;
  fill: var(--color-scheme-1-text);
}


@media (max-width: 767px) {
  .feedback {
    padding: 64px 20px;
  }
  .feedback-title {
    font-size: 36px;
  }
  .feedback-card {
    max-width: 335px;
  }
   .feedback-loader {
    height: 60px;       
    margin-bottom: 48px;
  }
  .loader {
    width: 36px;
    height: 36px;
    border-width: 4px;  
  }
}


@media (min-width: 768px) and (max-width: 1439px) {
  .feedback {
    padding: 32px;
  }
  .feedback-card {
    max-width: 341px;
  }
  .feedback-loader {
    height: 80px;          
    margin-bottom: 56px;   
  }
  .loader {
    width: 48px;           
    border-width: 5px;
  }
  
}


@media (min-width: 1440px) {
  .feedback {
    padding: 64px;
  }
  .feedback-card {
    max-width: 421px;
  }
  .feedback-loader {
    height: 100px;         
    margin-bottom: 64px;   
  }
  .loader {
    width: 60px;         
    height: 60px;
    border-width: 6px;
  }
}
