
.feedback {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 80px;
  width: 100%;
  padding: 64px 0;
  margin: 0 auto;
  color: var(--color-scheme-1-text);  
}

.feedback-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  margin-bottom: 24px;
  font-family:'Raleway Bold', sans-serif;
}

.feedback-subtitle {
  font-weight: 400;          
  font-size: 18px;           
  line-height: 1.6;  
  margin-bottom: 80px;   
  font-family:'Raleway', sans-serif; 
}

.feedback-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 64px;
  height: 80px; 
}

.feedback-loader.is-hidden {
  display: none;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid var(--opacity-neutral-darkest-15);
  border-radius: 100%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.feedback-slider {
  position: relative;
}

.swiper-wrapper {
  display: flex;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: auto; 
  flex-shrink: 0;  
  padding: 4px 8px;
}

.feedback-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
  padding: 24px;
  height: 350px;
  max-height: 350px;
  border-radius: 16px; 
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  text-align: left;
}

.feedback-card__stars{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px; 
}

.feedback-card__stars svg,
.feedback-card__stars img {
  width: 20px;       
  height: 20px;
  display: inline-block; 
  margin-right: 4px;
  fill: var(--color-neutral-darkest); 
}

.feedback-card__text {
  font-family:'Raleway Medium', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.6;
  color: var(--color-neutral-darkest);
  margin-bottom: 24px;
  flex: 1;
  overflow-y: auto;
  margin-bottom: 0;
}

.feedback-card__author {
  font-family: 'Raleway Bold', sans-serif; 
  font-weight: 700;
  font-size: 16px;
  line-height: 1.6;
  color: var(--color-neutral-darkest); 
}

.feedback-controls {
  display: flex; 
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  width: 100%;
  margin-top: 48px; 
}

.feedback .feedback-pagination {
  display: flex;
  gap: 8px; 
  flex-shrink: 0; 
  align-items: center;
}

.feedback .swiper-pagination {
  position: static !important; 
  width: auto !important;     
}


.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  border-radius: 100%; 
  opacity: 0.2;
  cursor: pointer;
  transition: opacity 0.3s ease, transform 0.2s ease;
  background-color: #080C09; 
}

.feedback .swiper-pagination-bullet-active {
  opacity: 1;
  background-color: #080C09; 
}

.feedback-nav {
  display: flex;
  gap: 16px;
  align-items: center;
  padding: 4px 4px 8px 4px;
}

.feedback-nav button {
  background: none;
  border: none;
  cursor: pointer;
}

.feedback-btn-prev,
.feedback-btn-next {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  padding: 12px; 
  fill: var(--color-scheme-1-text);
  border: 1px solid var(--opacity-neutral-darkest-15);
  border-radius: 100px;
  cursor: pointer;
  background-color: var(--color-scheme-1-foreground); 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.feedback-btn-prev:hover,
.feedback-btn-next:hover,
.feedback-btn-prev:focus,
.feedback-btn-next:focus{
  background-color: var(--color-madang-light);
  transform: scale(1.05);
}

.feedback-btn-prev:active,
.feedback-btn-next:active {
  background-color: var(--color-madang);
}

.feedback-btn-prev:not(:disabled):hover,
.feedback-btn-prev:not(:disabled):focus,
.feedback-btn-next:not(:disabled):hover,
.feedback-btn-next:not(:disabled):focus {
  background-color: var(--color-madang-light);
  transform: scale(1.05);
}

.feedback-btn-prev:disabled,
.feedback-btn-next:disabled {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
  background-color: var(--color-scheme-1-foreground);
}

.feedback-btn-prev svg,
.feedback-btn-next svg {
  width: 24px;
  height: 24px;
  fill: var(--color-scheme-1-text);
  transition: stroke 0.3s ease;
}


@media (max-width: 767px) {
  .feedback {
    padding: 64px 0;
  }
  .feedback-title {
    font-size: 36px;
  }
  .feedback-card {
    max-width: 335px;
  }
   .feedback-loader {
    height: 60px;       
    margin-bottom: 48px;
  }
  .loader {
    width: 36px;
    height: 36px;
    border-width: 4px;  
  }

  .feedback-controls {
    flex-wrap: wrap;           
    justify-content: center;  
    gap: 16px;                 
}
  .feedback-nav {
    order: 2;                 
  }
  
  .feedback .swiper-pagination {
    order: 1;                  
  }
}


@media (min-width: 768px) and (max-width: 1439px) {
  .feedback {
    padding: 32px 0;
  }
  .feedback-card {
    max-width: 341px;
  }
  .feedback-loader {
    height: 80px;          
    margin-bottom: 56px;   
  }
  .loader {
    width: 48px;           
    border-width: 5px;
  }
  
}


@media (min-width: 1440px) {
  .feedback {
    padding: 64px 0;
  }
  .feedback-card {
    max-width: 421px;
  }
  .feedback-loader {
    height: 100px;         
    margin-bottom: 64px;   
  }
  .loader {
    width: 60px;         
    height: 60px;
    border-width: 6px;
  }
}
