.footer {
    background-color: var(--color-madang);
    padding: 0 20px 32px;
    margin: 0 auto;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding-top: 25px;
    max-width: 375px;
}
    
.container a {
    color: var(--color-white);
    text-decoration: none;

    white-space: nowrap;
}

.container a:hover {
    opacity: 0.8;
}
.logo {
    /* width: 220px;
    height: auto; */
    fill: var(--color-white);
    display: block;
    margin-right: 25px 0 0;
}

.text.desktop {
    display: none;
    }

.text.mobile-tab {
    display: block;
}

.container .text {
    font-family: Raleway Regular;
    font-size: 14px;
    line-height: 160%;
    color: var(--color-scheme-1-background);
}


.nav.list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    list-style: none;
    padding: 0;
    margin-top: 24px;
}

.nav.list .item {
    font-family: Raleway Regular;
    font-size: 16px;
    line-height: 160%;
    color: var(--color-scheme-1-background);
}

.soc.list {
    display: flex;
    gap: 24px;
    list-style: none;
}

.soc-icon {
    width: 24px;
    height: 24px;
    fill: var(--color-white);
    display: block;
}


@media only screen and (min-width: 768px) {
    .footer-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        max-width: 768px;
    }

    .container .text {
        margin-right: 0px;
        padding-right: auto;
    }

    .text.desktop {
        display: none;
    }

    .text.mobile-tab {
        display: block;
        margin-bottom: 24px;
    }

    .logo {
        margin: 0;
    }

    .footer-nav {
        margin: 0;
    }

    .nav.list {
        display: flex;
        flex-direction: row;
        list-style: none;
        padding: 0;
        margin: 0;
        margin-bottom: 24px;
    }

    .nav.list .item:not(:last-child) {
        margin-right: 32px;
    }

    .soc-media {
        margin-bottom: 24px;
    }
}

@media only screen and (min-width: 1440px) {
    .footer-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

    }

    .logo {
        margin-right: 80px;
    }


    .container .text {
        margin-right: 80px;

    }

    .text.desktop {
        display: block;
    }

    .text.mobile-tab {
        display: none;
    }


    .footer-nav {
        margin-right: 80px;
        margin-bottom: 0;
    }

    .nav.list {
        display: flex;
        margin: 0;
    }

    .nav.list .item:not(:last-child) {
        margin-bottom: 0;
        margin-right: 32px;
    }

    .soc-media {
        margin-bottom: 0;
    }
}