footer {
    background-color: var(--color-madang);
    padding: 0 64px;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 15px;

    display: flex;
    align-items: center;
    justify-content: space-between;

}

.container a,
.container p {
    color: var(--color-white);
    text-decoration: none;

    white-space: nowrap;
}

.container a:hover {
    opacity: 0.8;
}


.logo {
    width: 220px;
    height: auto;
    fill: var(--color-white);
    margin-right: 80px;
}


.container .text {
    color: var(--color-white);
    margin-right: 80px;
    padding-right: auto;
}


.footer.nav {
    margin-right: 80px;
}

.nav.list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav.list .item:not(:last-child) {
    margin-right: 32px;
}


.soc-media {}

.soc.list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
}

.soc-item:not(:last-child) {
    margin-right: 24px;
}

.soc-icon {
    width: 24px;
    height: 24px;
    fill: var(--color-white);
    display: block;
}