.footer {
    background-color: var(--color-madang);
    /* padding: 24px 0; */
    padding: 24px 0 32px 0
}

.footer-container {
    /* max-width: 100%;
    margin: 0 auto;
    padding: 0 15px; */

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.container a,
.container p {
    font-family: 'Raleway Regular', sans-serif;
    color: var(--color-white);
    text-decoration: none;
    white-space: nowrap;
}

.container a:hover {
    opacity: 0.8;
}


.logo {
    width: 220px;
    height: 48px;
    fill: var(--color-white);
    margin-right: 80px;
}

.footer-container {
    gap: 80px;
}

.footer-text-nav-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 80px;
}

.footer-nav-soc {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 80px;
}


.container .text {
    color: var(--color-white);
    padding-right: auto;
}


.nav.list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

/* .nav.list .item:not(:last-child) {
    margin-right: 32px;
} */

.footer-nav .list {
    gap: 32px;
}


.soc-media {}

.soc.list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
}


/* .soc-item:not(:last-child) {
    margin-right: 24px;
} */

.soc.list {
    gap: 24px;
}

.soc-icon {
    width: 24px;
    height: 24px;
    fill: var(--color-white);
    display: block;
}

@media only screen and (min-width: 375px) {
    .footer-container {
        display: flex;
        flex-direction: column;

        align-items: center;

        justify-content: flex-start;
        gap: 24px;
    }

    .container .text {
        margin-right: 0px;
        padding-right: auto;
        gap: 24px;
    }

    .logo {
        margin: 0;
    }

    .footer-text-nav-wrapper {
        display: flex;
        flex-direction: column-reverse;

        align-items: center;
        gap: 24px;
    }

    .footer-nav-soc {
        display: flex;
        flex-direction: column;

        align-items: center;
        gap: 24px;
    }

    .footer-nav {
        margin-right: 0;
    }

    .nav.list {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    /* .nav.list .item:not(:last-child) {
        margin-right: 0;
        margin-bottom: 32px;
    } */

    .footer-nav .list {
        gap: 32px;
    }

    .soc-media {
        gap: 24px;
    }

}

@media only screen and (min-width: 768px) {
    .footer-container {
        display: flex;
        flex-direction: column;

        align-items: center;

        justify-content: flex-start;
        gap: 24px;
    }

    .container .text {
        margin-right: 0px;
        padding-right: auto;
    }

    .footer-nav-soc {
        gap: 24px;
    }

    .nav.list {
        display: flex;
        flex-direction: row;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    /* .nav.list .item:not(:last-child) {
        margin-right: 32px;
        margin-bottom: 0;
    } */

    .footer-nav .list {
        gap: 32px;
    }

    .soc-media {
        gap: 24px;
    }
}

@media only screen and (min-width: 1440px) {
    .footer {
        padding: 24px 0;
    }

    .footer-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 80px;
    }


    .footer-container {
        gap: 80px;
    }

    .footer-text-nav-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;

        gap: 80px;
    }

    .footer-nav-soc {
        display: flex;
        flex-direction: row;
        align-items: center;

        gap: 80px;
    }


    .nav.list {
        display: flex;

    }

    /* .nav.list .item:not(:last-child) {
        margin-right: 32px;
    } */

    .footer-nav .list {
        gap: 32px;
    }


    .soc.list {
        display: flex;
        align-items: center;
    }


    /* .soc-item:not(:last-child) {
        margin-right: 24px;
    } */

}