.furniture-list {
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.furniture-img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 16px;
  object-fit: cover;
  object-position: center;
}
.furniture-title {
  font-family: 'Raleway SemiBold', sans-serif;
  font-size: 18px;
  line-height: 1.6;
  color: var(--color-scheme-1-text);
  margin-bottom: 8px;
}
.furniture-color-list {
  display: flex;
  gap: 16px;
  list-style: none;
  margin-bottom: 8px;
}
.color-circle {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid transparent;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
}
.furniture-price {
  font-family: 'Raleway SemiBold', sans-serif;
  font-size: 20px;
  line-height: 1.6;
  color: var(--color-scheme-1-text);
  margin-bottom: 16px;
}
.furniture-more-btn {
  width: 100%;
}
.show-more-btn {
  width: 100%;
}
@media only screen and (min-width: 375px) {
  .furniture-list-item {
    min-height: 456px;
  }
  .furniture-img {
    height: 278px;
  }
} /* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .furniture-list {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .furniture-list-item {
    width: calc((100% - 24px) / 2);
    min-height: 460px;
  }
  .furniture-img {
    height: 282px;
  }
  .show-more-btn {
    display: none;
  }
} /* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  .furniture-list {
    column-gap: 24px;
    row-gap: 40px;
  }
  .furniture-list-item {
    min-height: 435px;
    width: calc((100% - 72px) / 4);
  }
  .furniture-img {
    height: 257px;
  }
}


/* Pagination */
.furniture-pagination{
  display: none;
}

@media only screen and (min-width: 768px) {
  .furniture-pagination {
    display: flex;
    justify-content: center;
    gap: 6px;
  }

  .tui-page-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 57px;
    height: 46px;
    color: var(--color-neutral-darkest);
    border-radius: 100px;
    text-decoration: none;
    transition: all 0.2s ease;
    cursor: pointer;
    font-family: "Raleway" Medium, sans-serif;
    font-size: 16px;
    font-weight: 500;
  }

  .tui-page-btn:not(.tui-is-disabled):hover {
    box-shadow: 0 1px 2px 0 var(--opacity-neutral-darkest-5),
      inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2),
      inset 0 0 0 1px var(--opacity-neutral-darkest-15),
      inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
      inset 0 32px 24px 0 var(--opacity-white-5);
    background: var(--color-madang-50);
    color: var(--color-scheme-1-background);
  }

  .tui-is-selected {
    box-shadow: 0 1px 2px 0 var(--opacity-neutral-darkest-5),
      inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2),
      inset 0 0 0 1px var(--opacity-neutral-darkest-15),
      inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
      inset 0 32px 24px 0 var(--opacity-white-5);
    background: var(--color-madang);
    color: var(--color-scheme-1-background);
  }

  .tui-is-disabled {
    border: 1px solid rgba(8, 12, 9, 0.15);
    border-radius: 100px;
    cursor: not-allowed;
    background: var(--color-scheme-1-foreground);
    opacity: 0.3;
    pointer-events: none;
  }

  .tui-prev,
  .tui-next {
    border: 1px solid rgba(8, 12, 9, 0.15);
    border-radius: 100px;
    padding: 12px;
    width: 48px;
    height: 48px;
    background: var(--color-scheme-1-foreground);
    transition: all 0.2s ease;
  }

  .tui-prev:not(.tui-is-disabled):hover,
  .tui-next:not(.tui-is-disabled):hover {
    fill: var(--color-scheme-1-background);
    background: var(--color-madang-50);
    box-shadow: 0 1px 2px 0 var(--opacity-neutral-darkest-5),
      inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2),
      inset 0 0 0 1px var(--opacity-neutral-darkest-15),
      inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
      inset 0 32px 24px 0 var(--opacity-white-5);
  }

  .tui-ico-prev,
  .tui-ico-next,
  .tui-ico-first,
  .tui-ico-last,
  .tui-ico-ellip {
    display: inline-block;
    line-height: 1;
  }

  .tui-prev-is-more,
  .tui-next-is-more {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}
/* @media only screen and (min-width: 1440px) {
  .furniture-pagination {
    margin-bottom: 40px;
  }
} */