.furniture-list {
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.furniture-img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 16px;
  object-fit: cover;
  object-position: center;
}
.furniture-title {
  font-family: 'Raleway SemiBold', sans-serif;
  font-size: 18px;
  line-height: 1.6;
  color: var(--color-scheme-1-text);
  margin-bottom: 8px;
}

.furniture-color-list {
  display: flex;
  gap: 16px;
  list-style: none;
  margin-bottom: 8px;
}

.color-circle {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid transparent;
}
.furniture-price {
  font-family: 'Raleway SemiBold', sans-serif;
  font-size: 20px;
  line-height: 1.6;
  color: var(--color-scheme-1-text);
  margin-bottom: 16px;
}
.furniture-more-btn {
  font-family: 'Raleway Medium', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: var(--color-neutral-darkest);
  background-color: var(--opacity-neutral-darkest-5);

  border-radius: 100px;
  padding: 10px 24px;
  width: 100%;
  height: 46px;
  border: none;
  box-shadow: 0 1px 2px 0 rgba(8, 12, 9, 0.05),
    inset 0 -2px 1px 0 rgba(8, 12, 9, 0.05),
    inset 0 0 0 1px rgba(8, 12, 9, 0.05);
  transition: all 0.3s ease;
}

.furniture-more-btn:hover,
.furniture-more-btn:focus {
  opacity: 0.5;
  transform: scale(1.01);
}

.show-more-btn {
  font-family: 'Raleway Medium', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: var(--color-scheme-1-background);

  border-radius: 100px;
  padding: 10px 24px;
  width: 100%;
  height: 46px;
  border: none;
  box-shadow: 0 1px 2px 0 rgba(8, 12, 9, 0.05),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(8, 12, 9, 0.15),
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
  background-color: var(--color-madang);
  transition: all 0.3s ease;
}
.show-more-btn:hover,
.show-more-btn:focus {
  opacity: 0.5;
  transform: scale(1.01);
}

@media only screen and (min-width: 375px) {
  .furniture-list-item {
    min-height: 456px;
  }
  .furniture-img {
    height: 278px;
  }
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .furniture-list {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .furniture-list-item {
    width: calc((100% - 24px) / 2);
    min-height: 460px;
  }
  .furniture-img {
    height: 282px;
  }

  .show-more-btn {
    max-width: 340px;
    display: block;
    margin: 0 auto;
  }
} /* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  .furniture-list {
    column-gap: 24px;
    row-gap: 40px;
  }
  .furniture-list-item {
    min-height: 435px;
    width: calc((100% - 72px) / 4);
  }
  .furniture-img {
    height: 257px;
  }

  .show-more-btn {
    max-width: 421px;
  }
}
