.header {
  width: 100%;
  padding: 16px 0;
}

.header__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.header__menu-btn,
.header__close-btn {
  display: none;
}

.header__menu-btn.visible,
.header__close-btn.visible {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
}

.header--anim:hover,
.header--anim:focus {
  opacity: 0.5;
}
