.header {
  width: 100%;
  background-color: var(--color-scheme-1-background);
}

.header__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.header__menu-btn,
.header__close-btn {
  display: none;
}

.header__menu-btn.visible,
.header__close-btn.visible {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
}

.header--anim {
  padding: 16px 0;
}

.header--anim:hover,
.header--anim:focus,
.header-modal__link:hover,
.header-modal__link:focus {
  opacity: 0.5;
}

.header__modal.is-hidden {
  top: -100%;
  opacity: 1;
  overflow: hidden;
  transition: top 450ms ease-in-out;
}

.header__modal {
  position: fixed;
  top: 69px;
  left: 0;
  opacity: 1;
  width: 100%;
  height: 100%;
  padding-top: 16px;
  padding-bottom: 160px;
  background-color: var(--color-scheme-1-background);
  z-index: 100;
  transition: opacity 20ms ease-in-out;
}

.header__modal .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  gap: 32px;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-modal__nav {
  width: 100%;
}

.header-modal__button {
  width: 100%;
}

.header-modal__link {
  font-family: 'Raleway SemiBold', sans-serif;
  font-size: 18px;
  color: var(--color-scheme-1-text);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 100%;
  transition: opacity 250ms ease-in-out;
}
