.hero-section {
    background-image: image-set(
        url('../img/hero/hero-baner-mobile-min.png') 1x,
        url('../img/hero/hero-baner-mobile2x-min.png') 2x
    );
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    box-sizing: border-box;
    min-height: 620px;
}

.hero-title {
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    color: white;
    padding: 136px 0 24px 0;
}

.hero-text {
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 0.02em;
    color: #fff;
    padding-bottom: 32px;
}

.hero-btn {
    border-radius: 100px;
    width: 100%;
    height: 46px;
    box-shadow: 0 1px 2px 0 rgba(8, 12, 9, 0.05), 
        inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2), 
        inset 0 0 0 1px rgba(8, 12, 9, 0.15), 
        inset 0 2px 1px 0 rgba(255, 255, 255, 0.25), 
        inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
    background: #6b0609;
    color: #fff;
    border: none;
}


@media screen and (min-width: 768px) {
    .hero-section {
        background-image: image-set(
            url('../img/hero/hero-baner-tablet-min.png') 1x,
            url('../img/hero/hero-baner-tablet2x-min.png') 2x
            );
            min-height: 396px;
        }
        .hero-title {
            padding-top: 79px;
        }
    
        .hero-text {
            width: 560px;
        }
    
        .hero-btn {
            width: 209px;
        }
}
@media screen and (min-width: 1440px) {
    .hero-section {
        background-image: image-set(
            url('../img/hero/hero-baner-desktop-min.png') 1x,
            url('../img/hero/hero-baner-desktop2x-min.png') 2x
            );
            min-height: 507px;
        }
    .hero-title {
        padding-top: 92px;
        font-size: 52px;
        width: 445px;
    }
}