.hero-section {
    background-image: image-set(
        url('../img/hero/hero-baner-mobile-min.webp') 1x,
        url('../img/hero/hero-baner-mobile2x-min.webp') 2x
    );
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    min-height: 620px;
    width: 100%;
}

.hero-title {
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    color: var(--color-white);
    padding: 136px 0 24px 0;
}

.hero-text {
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 0.02em;
    color: var(--color-white);
    padding-bottom: 32px;
}
.button-main {
    display: block;
    width: 100%;
    text-align: center;
}


@media screen and (min-width: 768px) {
    .hero-section {
        background-image: image-set(
            url('../img/hero/hero-baner-tablet-min.webp') 1x,
            url('../img/hero/hero-baner-tablet2x-min.webp') 2x
            );
            min-height: 396px;
        }
        .hero-title {
            padding-top: 79px;
        }
    
        .hero-text {
            max-width: 560px;
        }
    
        .button-main{
            max-width: 209px;
        }
}
@media screen and (min-width: 1440px) {
    .hero-section {
        background-image: image-set(
            url('../img/hero/hero-baner-desktop-min.webp') 1x,
            url('../img/hero/hero-baner-desktop2x-min.webp') 2x
            );
            min-height: 507px;
        }
    .hero-title {
        padding-top: 92px;
        font-size: 52px;
        max-width: 415px;
    }
}