 .modal-details-overlay {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: rgba(0, 0, 0, 0.25);
     display: flex;
     justify-content: center;
     align-items: center;
     z-index: 1000;
     padding: 103px 20px;
 }

 .modal-details {
     width: 100%;
     max-width: 335px;
     max-height: 90vh;
     overflow-y: auto;
     -webkit-overflow-scrolling: touch;
     position: relative;
    border-radius: 8px;
    padding: 64px 20px;
    background-color: var(--color-scheme-1-background);
 }

 .modal-details-close {
     position: absolute;
     top: 16px;
     right: 16px;
     background: none;
     border: none;
     cursor: pointer;
 }

 .modal-details-content {
    position: relative;
     display: flex;
     flex-direction: column;
     gap: 24px;
 }

 .modal-details-gallery {
     display: flex;
     flex-direction: column;
     gap: 16px;
 }

 .modal-details-big-image {
        width: 100%;
        height: 297px;
        border-radius: 8px;
        object-fit: cover;
 }

 .modal-details-subgallery {
    display: flex;
    flex-wrap: nowrap;
    gap: 16px;
 } 

 .modal-details-small-image {
    width: calc(50% - 6px);
    height: 197px;
    border-radius: 8px;
    object-fit: cover;
   
    }
 

 .modal-details-info {
     display: flex;
     flex-direction: column;

 }

 .modal-details-title {
    font-size: 32px;
        line-height: 1.3;
        letter-spacing: 0.01em;
        color: var(--color-scheme-1-text);
 }
 .modal-details-category {
    font-family: var(--font-family);
        font-weight: 400;
        font-size: 16px;
        line-height: 1.6;
        color: var(--color-scheme-1-text);

 }

 .modal-details-price {
        font-weight: 700;
        font-size: 24px;
        line-height: 1.4;
        letter-spacing: 0.01em;
        color: var(--color-scheme-1-text);
        margin-bottom: 24px;
 }
 .modal-details-rating {
    margin-bottom: 24px;
 }
.modal-details-color-title {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.6;
        color: var(--color-scheme-1-text);
}
.modal-details-colors {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.madal-detail-color-title {
    font-size: 1.2rem;
    font-weight: 500;
}
.modal-details-colors {
    display: flex;
    gap: 8px;
    margin-bottom: 24px;
}
.modal-detail-color-options {
    display: flex;
    gap: 16px;
}

.modal-detail-color-options input[type="radio"] {
    display: none;
}
.color {
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    cursor: pointer;
    border: 3px solid transparent;
    transition: border-color 0.3s, transform 0.2s;
}

.color-lightgray {
    background-color: #c7c3bb;
}

.color-gray {
    background-color: #c7aa80;;
}

.color-black {
    background-color: #201a19;
}

input[type="radio"]:checked+.color {
border: 4px solid var(--color-neutral);
transform: scale(1.05);
}
.modal-details-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: var(--color-scheme-1-text);
    margin-bottom: 32px;
    display: block;
    max-width: 295px;
}
.modal-details-dimensions {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: var(--color-scheme-1-text);
    margin-bottom: 24px;
}
 .modal-details-order-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    color: var(--color-scheme-1-background);
    border-radius: 100px;
    padding: 10px 24px;
    display: block;
    max-width: 295px;
  
    box-shadow: 0 1px 2px 0 var(--opacity-neutral-darkest-5), inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px var(--opacity-neutral-darkest-15), inset 0 2px 1px 0 rgba(255, 255, 255, 0.25), inset 0 32px 24px 0 var(--opacity-white-5);
    background-color: var(--color-madang);
 }

 /* ====== Для планшетів  ====== */
 @media (min-width: 768px) {
     .modal-details {
         max-width: 704px;
        
     }
.modal-details-description {
    max-width: 421px;}
 .modal-details-order-btn {
    max-width: 310px;
 }
 }
 @media (min-width:1280px) {

     .modal-details {
         max-width: 1090px;
         padding: 64px;
         display: flex;
         flex-direction: row;
         gap: 24px;
     }

     .modal-details-content {
         display: flex;
         flex-direction: row;
         gap: 32px;
         width: 100%;
     }

     .modal-details-gallery {
         width: 50%;
     }

     .modal-details-description {
         width: 50%;
         max-width: none;
     }

     .modal-details-small-image {
         height: 170px;
         
     }
 }