 .modal-details-overlay {
    position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        display: none;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
     background-color: rgba(0, 0, 0, 0.25);
    opacity: 0;
    display: flex; 
    
 }
.modal-details-overlay.active {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
   
}
 .modal-details {
     width: 90%;
     max-width: 335px;
     max-height: 90vh;
     overflow-y: auto;
     -webkit-overflow-scrolling: touch;
     position: relative;
    border-radius: 8px;
    padding: 64px 20px 12px;
    background-color: var(--color-scheme-1-background);
 }

 .modal-details-close {
     position: absolute;
     top: 16px;
     right: 16px;
     background: none;
     border: none;
     cursor: pointer;
 }

 .modal-details-content {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 24px;
 }

 .modal-details-gallery {
     display: flex;
     flex-direction: column;
     gap: 16px;
     width: 100%;
 }

 .modal-details-big-image {
    width: 100%;
    height: 297px;
    border-radius: 8px;
    object-fit: cover;
    object-position: center;
 }

 .modal-details-subgallery {
    display: flex;
    flex-wrap: nowrap;
    gap: 16px;
    width: 100%;
 } 

 .modal-details-small-image {
    width: calc((100% - 16px) / 2);
    height: 197px;
    border-radius: 8px;
    object-fit: cover;
    object-position: center;
    flex-shrink: 0;
    }
 

 .modal-details-info {
     display: flex;
     flex-direction: column;
     padding-bottom: 44px;

 }
.modal-details-title, 
.modal-details-category, 
.modal-details-price, 
.modal-details-color-title,
.modal-details-description,
.modal-details-dimensions {
font-family: var(--font-family);
color: var(--color-scheme-1-text);
}
 .modal-details-title, 
 .modal-details-price {
    font-weight: 700;
    font-size: 32px;
    line-height: 1.3;
    letter-spacing: 0.01em;
    
 }
 .modal-details-category,
 .modal-details-color-title,
 .modal-details-description,
 .modal-details-dimensions {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
   

 }
 .modal-details-price {
    font-size: 24px;
    line-height: 1.4;
    margin-bottom: 24px;
 }
 .modal-details-rating {
    margin-bottom: 24px;
 }

.modal-details-colors {
    display: flex;
    gap: 8px;
    flex-direction: column;
}
.modal-detail-color-options {
    display: flex;
    gap: 16px;
    margin-bottom: 24px;
}

.color {
    appearance: none;
    -webkit-appearance: none;
    width: 32px;
    height: 32px;
    border-radius: 64px;
    cursor: pointer;
    border: 3px solid transparent;
    transition: border-color 0.3s, transform 0.2s;
}

.color-lightgray {
background-color: #d2cdc5;
}

.color-gray {
background-color: #c8a879;
}

.color-black {
background-color:  #1e1817;
}


.color:checked {
    border-color: #838584;
    transform: scale(1.05);
}

.color:hover {
    border-color: 4px solid #838584;
}
.modal-details-description {
    margin-bottom: 32px;
    display: block;
    max-width: 295px;
}
.modal-details-dimensions {
    margin-bottom: 24px;
}
 .modal-details-order-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    color: var(--color-scheme-1-background);
    border-radius: 100px;
    padding: 10px 24px;
    display: block;
    max-width: 295px;
    box-shadow: 0 1px 2px 0 var(--opacity-neutral-darkest-5), inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px var(--opacity-neutral-darkest-15), inset 0 2px 1px 0 rgba(255, 255, 255, 0.25), inset 0 32px 24px 0 var(--opacity-white-5);
    background-color: var(--color-madang);
 }
.modal-details-order-btn:hover,
.modal-details-order-btn:focus {
opacity: 0.5;
}
.modal-details-order-btn:active {
    opacity: 1;
}
 /* ====== Для планшетів  ====== */
 @media (min-width: 768px) {
     .modal-details {
         max-width: 704px;
        
     }
.modal-details-description {
    max-width: 421px;}
 .modal-details-order-btn {
    max-width: 310px;
 }
 }
 @media (min-width:1440px) {

     .modal-details {
         max-width: 1090px;
         padding: 64px;
         display: flex;
         flex-direction: row;
         gap: 24px;
          
     }

     .modal-details-content {
         display: flex;
         flex-direction: row;
         gap: 24px;
         width: 100%;
       
     }

     .modal-details-gallery {
         width: 580px;
         flex-shrink: 0;
     }
.modal-details-info {
    padding-bottom: 0;
}
     .modal-details-description {
         width: 358px;
         max-width: none;
     }
.modal-details-big-image {
    height: 308px;
}
.modal-details-small-image {
         height: 170px;
         
     }
 }