@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');

@import url('./header.css');
@import url('./hero.css');
@import url('./furniture.css');
@import url('./about.css');
@import url('./faq.css');
@import url('./feedback.css');
@import url('./footer.css');
@import url('./modal-details.css');
